/* GENERAL */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background{
  height: 100vh;
  background-color: #DBDBD3;
  padding-top: 30px;
  font-family: 'Lato', sans-serif;
  font-size: .8rem;
  /* background-image: 
  linear-gradient(to bottom,
  #009688 0px,
  #009688 20vh,
  #DBDBD3 20vh,
  #DBDBD3 100%,); */
}

.container{
  width: 80%;
  margin: 0 auto;
  height: 90%;
  background-color: white;
  min-width: 800px;
  max-width: 1800px;
}

.clearfix::after{
  content: ' ';
  display: table;
  clear: both;
}

i{
  cursor: pointer;
  font-size: 1.2rem;
}


/* UTILITIES */
.debug{
  background-color: rgba(255, 0, 0, .4);
  border: 1px solid black;
}

.h50{
  min-height: 50px;
}
.h60{
  min-height: 60px;
}

.flex-between-items-center{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-circle-photo{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
}


/* CONTENT */

/* LEFT */
.col-left{
  float: left;
  width: 30%;
  height: 100%;
}

/* Left top */
.left-top{
  background-color: #EAEAEA;
  padding: 0 10px;
  border-right: 1px solid #D9D9D9;
}

.left-top .myprofile{
  display: flex;
  align-items: center;
}

.left-top .container-circle-photo img{
  width: 100%;
}

.left-top .icons i{
  margin-left: 10px;
  color: #B1B1B1;
}
/* /Left top */

/* Left notification */
.left-notifications{
  background-color: #8EDAFC;
  padding: 0 20px;
  display: flex;
  align-items: center;
}

.left-notifications .container-circle-photo{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.left-notifications i{
  color: #8EDAFC;
}

.left-notifications span{
  font-size: .7rem;
  color: #507587;
  text-decoration: underline;
}
/* /Left notification */

/* /Left search bar */
.search-container{
  padding: 5px;
  display: flex;
  border-right: 1px solid #D9D9D9;
}
.search-container input{
  flex-grow: 1;
  padding: 5px;
  border: 1px solid #f9f4f4;
  border-left: none;
}

.search-container button{
  padding: 0 20px;
  background-color: white;
  border: 1px solid #f9f4f4;
  border-right: none;
}
.search-container button i{
  color: #B1B1B1;
}
/* /Left search bar */

/* /Left contacts */
.contacts{
  height: calc(100% - 50px - 70px - 28px);
  overflow-y: scroll;
  border-right: 1px solid #D9D9D9;
}

.contacts ul{
  height: 100%;
  list-style: none;
}

.contacts ul li{
  border-bottom: 1px solid #f9f4f4;
  padding: 10px 10px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;

}

.contacts li.active{
  border-bottom-color: transparent;
  background-color: #E9EBEB;
}

.contacts ul li img{
  width: 100%;
}

.contacts ul li .last-message{
  font-size: .7rem;
  color :rgb(203, 197, 197)
}

.contacts ul li .contact{
  display: flex;
  align-items: flex-start;
}

.contacts ul li .clock{
  font-size: .6rem;
  color: rgb(203, 197, 197);
}
/* /Left contacts */




/* RIGHT */
.col-right{
  float: left;
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

/* right top */
.right-top{
  background-color: #EAEAEA;
  padding: 0 10px;
}

.right-top .user-messaged{
  display: flex;
  align-items: center;
}

.right-top .container-circle-photo img{
  width: 100%;
}

.right-top .user-messaged .last-access{
  font-size: .7rem;
  color: #949896;
}

.right-top .icons i{
  margin-left: 10px;
  color: #B1B1B1;
}
/* /right top */


/* right messages */
.col-right .right-messages{
  height: 100%;
  padding: 5% 10%;
  overflow-y: scroll;
  background-image: url(../img/mine.jpg);
}

.right-messages .message{
  margin: 10px 0;
  border-radius: 10px;
  padding: 20px;
  min-width: 40%;
  max-width: 60%;
  position: relative;
  clear: both;
}

.right-messages .message.sent{
  float: right;
  background-color: #D5F9BA;
}

.right-messages .message.received{
  background-color: white;
  float: left;
}

.right-messages .message-time{
  position: absolute;
  right: 5px;
  bottom: 5px;
  font-size: .6rem;
  color: #B4B6B9;
}
/* /right messages */


/* right bottom */
.right-bottom{
  background-color: #F3EEEA;
}

.right-bottom i{
  margin: 0 20px;
  color: #6A7376;
}

.right-bottom input{
  flex-grow: 1;
  padding: 10px;
  border: none;
  border-radius: 5px;
}
/* /right bottom */

