/* GENERAL */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background{
  height: 100vh;
  background-color: #DBDBD3;
  padding-top: 30px;
}

.container{
  width: 80%;
  margin: 0 auto;
  height: 90%;
  background-color: white;
  min-width: 700px;
}

.clearfix::after{
  content: ' ';
  display: table;
  clear: both;
}

.users ul{
  list-style: none;
}

i{
  cursor: pointer;
}


/* UTILITIES */
.debug{
  background-color: rgba(255, 0, 0, .4);
  border: 1px solid black;
}

.h50{
  min-height: 50px;
}
.h60{
  min-height: 60px;
}

.flex-between-items-center{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-circle-photo{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
}


/* CONTENT */

/* left */
.col-left{
  float: left;
  width: 30%;
  height: 100%;
}

/* Left top */
.left-top{
  background-color: #EAEAEA;
  padding: 0 10px;
}

.left-top .myprofile{
  display: flex;
  align-items: center;
}

.left-top .container-circle-photo img{
  width: 100%;
}

.left-top .icons i{
  margin-left: 10px;
  color: #B1B1B1;
}
/* /Left top */

/* Left notification */
.left-notifications{
  background-color: #8EDAFC;
  padding: 0 20px;
  display: flex;
  align-items: center;
}

.left-notifications .container-circle-photo{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
/* /Left notification */

/* /Left input */
.input-container{
  padding: 5px;
  display: flex;
}
.input-container input{
  flex-grow: 1;
  padding: 5px;
  border: 1px solid #e5e1e1;
}

.input-container button{
  padding: 0 20px;
  background-color: white;
  border: 1px solid #e5e1e1;
}
.input-container button i{
  color: #B1B1B1;
}
/* /Left input */

/* /Left users */
/* non funziona */
.users ul{
  overflow-y: hidden;
  height: 100%;
}

.users ul li{
  border-bottom: 1px solid rgb(209, 208, 208);
  padding: 5px 10px;
}

.users ul li img{
  width: 100%;
}

.users ul li span{
  font-size: .9rem;
}

.users ul li .last-message{
  font-size: .7rem;
  color :rgb(203, 197, 197)
}

.users ul li .user{
  display: flex;
  align-items: flex-start;
}

.users ul li .clock{
  font-size: .7rem;
  color: rgb(203, 197, 197);
}
/* /Left users */



/* right */
.col-right{
  float: left;
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url(../img/mine.jpg);
}

.right-top{
  background-color: #EAEAEA;
  padding: 0 10px;
}

.right-top .user-messaged{
  display: flex;
  align-items: center;
}

.right-top .container-circle-photo img{
  width: 100%;
}

.right-top .icons i{
  margin-left: 10px;
  color: #B1B1B1;
}

.right-bottom{
  background-color: #F3EEEA;
}

.right-bottom i{
  margin: 0 20px;
}

.right-bottom input{
  flex-grow: 1;
  padding: 10px;
  border: none;
  border-radius: 5px;
}


